/*Logos*/
.logo {
    height: 100%;
    display: block;
    content: $logoImg;
}

.logo--header{
    height: 70px;
    display: table-cell;
    vertical-align: middle;
}

.logo--footer{
    width: 190px;
    margin: 0 auto;
    height: 55%;
    display: block;
}
/*Logos*/

/*Portadas libros*/


/*Portadas libros*/



