
.contact{
    font: 'Oswald';
    font-size: 14px;
    font-weight: bold;
}

.contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
    justify-content: center;
    align-content: center;
}

.contact-form button:hover{
    color: #fff;

}
