/* Secciones del index*/
.displayLibro{

    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

}

.retratoLibro {
    width: 120px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.retratoLibro p {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: -10px;
    color: #101010;
    font-size: 1.3rem;
    font-weight: bold;
}

.displayObra{
    align-content: center;
}

.poema {
    margin-top: 20px;
    margin-bottom: 20px;
}

.displayObra h5{

    text-align: center;   
    text-decoration: underline; 
    margin-bottom: 10px;  

}

.displayObra p{
    text-align: center;  
    font-size: 2rem;
    font-style: italic;
}

.seccionAutor {
    width:100%;
    display: flex;
    max-height: 200px;

    margin-top: 50px;
    margin-bottom: 50px;

}

.displayAutor{
    display: flex;
    flex-direction: column;
    flex: 0 70vw;

    justify-content: space-evenly;
    align-items: center;

    overflow:scroll;
    overflow-y:hidden;

}

.retratoAutor {
    margin: 15px;
    text-align: center;
}

.retratoAutor img{

    height: 150px;
    width: 120px;
    border-radius:17px;

}

.displayIngreso {
    display: flex;
    flex-direction: column;
    flex: 0 30vw;
    justify-content: space-evenly;
}

.displayIngreso input {
    background:  #620000;
    border: 3px solid #620000;
    border-radius: 5px;
    display: block;
    font-family: 'Oswald';
    color: white;
    font-size: 2rem;
    padding-right: 2px;
    padding-left: 2px;
	padding:6px 13px;
    text-decoration:none;
    font-weight: bolder;
    margin: 5px;
}

h1 {
    color:black;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Oswald';
    font-weight: bold;
    font-size: 5rem;
}

h2 {
    color:black;
    font-family: 'JosefinSlab-VariableFont_wght';
    font-size: 3rem;
    margin: 25px;
}

h3, h4, h5{
    color:black;
    font-family: 'JosefinSlab-VariableFont_wght';
    font-size: 3rem;
}

p{
    color:black;
    text-align: justify;
    font-family: 'JosefinSlab-VariableFont_wght';
    font-size: 2rem;
    font-style: italic;
}

ul{
    color:black;
}

.libroAnimation {
    transform-style: preserve-3d;
    height: 200px;
    cursor: pointer;
    backface-visibility: visible;

  }

  
  .front, .back, .pag1, .pag2, .pag3, .pag4, .pag5, .pag6, .frontImg {
    transform-style: preserve-3d;
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0; left: 0;
    transform-origin: left center;
    transition: transform .5s ease-in-out, box-shadow .35s ease-in-out;
  }
  
  .front, .back {
    background: #ec702b;
  }
  

  .front, .pag1, .pag3, .pag5, .imgPortada {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
  }
  
  .back, .pag2, .pag4, .pag6 {
    border-bottom-right-radius: .5em;
    border-top-right-radius: .5em;
  }
  
  .pag1 { 
    background: #efefef;
  }
  
  .pag2 {
    background: #efefef;
  }
  
  .page3 {
    background: #f5f5f5;
  }
  
  .pag4 {
    background: #f5f5f5;
  }
  
  .pag5 {
    background: #fafafa;
  }
  
  .pag6 {
    background: #fdfdfd;
  }

  .libroAnimation:hover .frontImg {
    transform: rotateY(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .libroAnimation:hover .front {
    transform: rotateY(-160deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .libroAnimation:hover .pag1 {
    transform: rotateY(-150deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .libroAnimation:hover .pag2 {
    transform: rotateY(-30deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .libroAnimation:hover .pag3 {
    transform: rotateY(-140deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }

  .libroAnimation:hover .pagText {
    transform: rotateY(10deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  
  .libroAnimation:hover .pag4 {
    transform: rotateY(-40deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .libroAnimation:hover .pag5 {
    transform: rotateY(-130deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .libroAnimation:hover .pag6 {
    transform: rotateY(-50deg) scale(1.1);
    box-shadow: 0 1em 3em 0 rgba(0, 0, 0, .2);
  }
  
  .libroAnimation:hover .back {
    transform: rotateY(-20deg) scale(1.1);
  }

  .imgPortada{
    height: 100%;
    width: 100%;
  }

  .pagText {
    background: green;
    transform: rotateY(0deg);
    z-index: 1;

  }


  #carouselLibro .carousel-item .mask {
    position: absolute;
    top: 0;
	left:0;
	height:100%;
    width: 100%;
    background-attachment:fixed;
}

.carouselPortada {
    width: auto;
    height: 500px;
    margin-top: 20px;
    display: flex;
    overflow: hidden;
}

.carouselTexto {
  padding-left: 80px;
}


#carouselLibro h4{
	font-size:5em;
	margin-bottom:15px;
	color:#FFF;
	line-height:100%;
    letter-spacing:0.5px;
    font-family: 'Oswald';
	font-weight:600;
}
#carouselLibro p{
	font-size:2em;
    margin-bottom:15px;
    font-family: 'Oswald';
	color:#d5d5d5;
}
#carouselLibro .carousel-item a{background:#ec702b; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
#carouselLibro .carousel-item a:hover{background:#394fa2; text-decoration:none;  }

#carouselLibro .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
#carouselLibro .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
#carouselLibro .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
#carouselLibro .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
#carouselLibro h4, #carouselLibro p, #carouselLibro a, #carouselLibro .carousel-item .mask img{-webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#carouselLibro .container {max-width: 1430px;  }
#carouselLibro .carousel-item{height:100%; min-height:550px; }
#carouselLibro{position:relative; z-index:1; background:url(https://i.imgur.com/6axE29k.jpg) center center no-repeat; background-size:cover; }

.carousel-control-next, .carousel-control-prev{height:40px; width:40px; padding:12px; top:50%; bottom:auto; transform:translateY(-50%); background-color: #f47735; }


.carousel-item {
    position: relative;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: auto;
    transition: -webkit-transform .6s ease;
    transition: transform .6s ease;
    transition: transform .6s ease,-webkit-transform .6s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.carousel-fade .carousel-item {
	opacity: 0;
	-webkit-transition-duration: .6s;
	transition-duration: .6s;
	-webkit-transition-property: opacity;
	transition-property: opacity
}
.carousel-fade .carousel-item-next.carousel-item-left, .carousel-fade .carousel-item-prev.carousel-item-right, .carousel-fade .carousel-item.active {
	opacity: 1
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-right.active {
	opacity: 0
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0)
}
@supports (transform-style:preserve-3d) {
	.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
	-webkit-transform:translate3d(0, 0, 0);
	transform:translate3d(0, 0, 0)
	}
}
.carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

 
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@media screen and (max-width: 768px) {
    .column {
      width: 100%;
    }

    .carouselTexto {
        visibility: hidden;
    }
  }

/*Fin secciones index*/